@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    background: #081b29;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;

}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 15%;
    justify-content: space-between;
    
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 445px;
    height: 50px;


}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}


.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: #081b29;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    display: flex;
    bottom: 40px;
    width: 90px;
    justify-content: space-between;
}

.home-sci a{
    display: inline-flex;
    position: relative;
    width: 40px;
    background: transparent;
    height: 40px;
    border: 2px solid #00abf0;
    color: #00abf0;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}
.home-sci a:nth-child(1){
    border: none;
    font-size: 45px;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: #00abf0;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-img{
    display: flex;
    position: relative;
    width: 32vw;
    height: 32vw;
    background: linear-gradient(#00abf0,#081b29);
    border-radius: 50%;
    box-shadow: 0 0 2rem #00abf0;
    justify-content: center;
    overflow: hidden;
}

.home-img img{
    margin-right:25px ;
    position: absolute;
    display: block;
    width:90%;
    object-fit: cover;
}